* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.base {
  width: 100%;
  height: auto;
}
.detailsHolder {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin: auto;
}
.labelHeader {
  width: 100%;
  height: auto;
  text-align: center;
  color: #000;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: sans-serif;
}
.descriptionHolder {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.imageAndName {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.imageHolder {
  width: 300px;
  height: 300px;
  display: flex;
}
.imageHolder img {
  width: 100%;
  height: auto;
  object-fit: fill;
  border-radius: 50%;
  border: 5px solid #ebebde;
  padding: 10px;
  overflow: hidden;
  background: #ebebde;
}
.nameOfUser {
  width: 100%;
  height: auto;
  color: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 40px;
  font-family: sans-serif;
}
.dataAndLink {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.repoAndLink {
  width: 23%;
  height: auto;
  padding: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: 300ms;
  margin: 1%;
  border-radius: 3px;
  background: #fff;
}
.repoAndLink:hover {
  transform: scale(1.05);
}
.repoName {
  width: 100%;
  height: auto;
  color: #666;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}
.link {
  cursor: pointer;
  word-break: break-word;
  text-align: center;
  color: blue;
  font-family: sans-serif;
  font-size: 12px;
}
.notFound {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: #f15228;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
}
